html {
  font-size: 10px; /* rem을 위한 Setting */
}

@media all and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
/* 
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white);
} */

/* S of Spoqa Han Sans */
@font-face {
  font-family: "Korean, Number is SpoqaHanSans & English is Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Spoqa Han Sans Bold.woff2"),
    url("/fonts/Spoqa Han Sans Bold.woff"),
    url("/fonts/Spoqa Han Sans Bold.ttf");
  /* unicode-range: U+AC00- U+D7A3, U+0030-0039; */
}
@font-face {
  font-family: "Korean, Number is SpoqaHanSans & English is Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Spoqa Han Sans Regular.woff2"),
    url("/fonts/Spoqa Han Sans Regular.woff"),
    url("/fonts/Spoqa Han Sans Regular.ttf");
  /* unicode-range: U+AC00- U+D7A3, U+0030-0039; */
}
@font-face {
  font-family: "Korean, Number is SpoqaHanSans & English is Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/Spoqa Han Sans Light.woff2"),
    url("/fonts/Spoqa Han Sans Light.woff"),
    url("/fonts/Spoqa Han Sans Light.ttf");
  /* unicode-range: U+AC00- U+D7A3, U+0030-0039; */
}
@font-face {
  font-family: "Korean, Number is SpoqaHanSans & English is Roboto";
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/Spoqa Han Sans Thin.woff2"),
    url("/fonts/Spoqa Han Sans Thin.woff"),
    url("/fonts/Spoqa Han Sans Thin.ttf");
  /* unicode-range: U+AC00- U+D7A3, U+0030-0039; */
}
/* E of Spoqa Han Sans */

/* S of Roboto */
@font-face {
  font-family: "Korean, Number is SpoqaHanSans & English is Roboto";
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/roboto-v20-latin-100.woff2") format("woff2"),
    url("/fonts/roboto-v20-latin-100.woff") format("woff"),
    url("/fonts/roboto-v20-latin-100.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Korean, Number is SpoqaHanSans & English is Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/roboto-v20-latin-300.woff2") format("woff2"),
    url("/fonts/roboto-v20-latin-300.woff") format("woff"),
    url("/fonts/roboto-v20-latin-300.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Korean, Number is SpoqaHanSans & English is Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("/fonts/roboto-v20-latin-regular.woff") format("woff"),
    url("/fonts/roboto-v20-latin-regular.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Korean, Number is SpoqaHanSans & English is Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/roboto-v20-latin-700.woff2") format("woff2"),
    url("/fonts/roboto-v20-latin-700.woff") format("woff"),
    url("/fonts/roboto-v20-latin-700.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}
/* E of Roboto */
