:root {
  --purple-linear-gradient: linear-gradient(to bottom, #7c62ed, #4633d7);
  --border-radius-primary: 13px;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* 드래그 방지 */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /* 판독성 최적화 */
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: antialiased; */
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* iOS Safari Momentum Scroll, 버벅임 방지 */
  -webkit-overflow-scrolling: touch;
  /* (브라우저 오른쪽에 나타나는) 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* (브라우저 오른쪽에 나타나는) 스크롤바 숨기기 */
/* Chrome, Safari, Opera*/
body::-webkit-scrollbar {
  display: none;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Korean, Number is SpoqaHanSans & English is Roboto',
    Apple SD Gothic Neo, Noto Sans KR, Inter, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;

  /* iOS에서 a tag long touch 시 나오는 모달 막기 */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;

  /* 텍스트 관련 속성들 */
  /* word-break: keep-all;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; */
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button {
  /* all: unset -> 모든 속성 한번에 초기화 */
  all: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

a,
button,
input,
select,
textarea {
  outline-style: none;
}

ul,
ol,
li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

/* 작품 이미지에만 넣을 것. pointer-events: none;일 때 핀터레스트 이용 불가 */
/* 대략 150*150 미만의 이미지는 핀터레스트 이용 불가 - 너무 작은 이미지는 막아놓은 듯 */
/* img {
  pointer-events: none;
} */
