html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* 드래그 방지 */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 168px;
  /* iOS Safari Momentum Scroll, 버벅임 방지 */
  -webkit-overflow-scrolling: touch;
  /* (브라우저 오른쪽에 나타나는) 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media all and (max-width: 768px) {
  body {
    padding-top: 144px;
  }
}

/* (브라우저 오른쪽에 나타나는) 스크롤바 숨기기 */
/* Chrome, Safari, Opera*/
body::-webkit-scrollbar {
  display: none;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Korean, Number is SpoqaHanSans & English is Roboto',
    -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Noto Sans Korean,
    sans-serif;

  /* flex 코드 */
  /* word-break: keep-all;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; */
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

button {
  /* all: unset -> 모든 속성 한번에 초기화 */
  all: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol,
li {
  list-style: none;
  display: block;
}

img {
  pointer-events: none;
}
