html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* S of Spoqa Han Sans */
@font-face {
  font-family: Spoqa Han Sans;
  font-weight: 700;
  src: url("/fonts/Spoqa Han Sans Bold.woff2"),
    url("/fonts/Spoqa Han Sans Bold.woff"),
    url("/fonts/Spoqa Han Sans Bold.ttf");
}
@font-face {
  font-family: Spoqa Han Sans;
  font-weight: 400;
  src: url("/fonts/Spoqa Han Sans Regular.woff2"),
    url("/fonts/Spoqa Han Sans Regular.woff"),
    url("/fonts/Spoqa Han Sans Regular.ttf");
}
@font-face {
  font-family: Spoqa Han Sans;
  font-weight: 300;
  src: url("/fonts/Spoqa Han Sans Light.woff2"),
    url("/fonts/Spoqa Han Sans Light.woff"),
    url("/fonts/Spoqa Han Sans Light.ttf");
}
@font-face {
  font-family: Spoqa Han Sans;
  font-weight: 100;
  src: url("/fonts/Spoqa Han Sans Thin.woff2"),
    url("/fonts/Spoqa Han Sans Thin.woff"),
    url("/fonts/Spoqa Han Sans Thin.ttf");
}
/* E of Spoqa Han Sans */

/* S of Color */
:root {
  --text-color: #eeeeee;
}
/* E of Color */
