/* S of Color */
:root {
  --white: #eeeeee;
  --dark-background-color: #121212;
}
/* E of Color */

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spoqa Han Sans", sans-serif;
  background-color: var(--dark-background-color);
  overflow-x: hidden;
  overflow-y: auto;
  /* (브라우저 오른쪽에 나타나는) 스크롤바 숨기기 */
  /* https://gofnrk.tistory.com/48 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 스크롤바 숨기기 */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

/* https://developer.mozilla.org/ko/docs/Web/CSS/pointer-events */
img {
  pointer-events: none;
  /* https://www.it-swarm.dev/ko/html/js%EB%A5%BC-%EC%82%AC%EC%9A%A9%ED%95%98%EC%A7%80-%EC%95%8A%EA%B3%A0-%EC%9D%B4%EB%AF%B8%EC%A7%80%EB%A5%BC-%EB%93%9C%EB%9E%98%EA%B7%B8%ED%95%98%EA%B1%B0%EB%82%98-%EC%84%A0%ED%83%9D%ED%95%98%EC%A7%80-%EB%AA%BB%ED%95%98%EB%8F%84%EB%A1%9D-%EB%B0%A9%EC%A7%80/1069068617/ */
  /* user-drag: none; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* S of Spoqa Han Sans */
@font-face {
  font-family: Spoqa Han Sans;
  font-weight: 700;
  src: url("/fonts/Spoqa Han Sans Bold.woff2"),
    url("/fonts/Spoqa Han Sans Bold.woff"),
    url("/fonts/Spoqa Han Sans Bold.ttf");
}
@font-face {
  font-family: Spoqa Han Sans;
  font-weight: 400;
  src: url("/fonts/Spoqa Han Sans Regular.woff2"),
    url("/fonts/Spoqa Han Sans Regular.woff"),
    url("/fonts/Spoqa Han Sans Regular.ttf");
}
@font-face {
  font-family: Spoqa Han Sans;
  font-weight: 300;
  src: url("/fonts/Spoqa Han Sans Light.woff2"),
    url("/fonts/Spoqa Han Sans Light.woff"),
    url("/fonts/Spoqa Han Sans Light.ttf");
}
@font-face {
  font-family: Spoqa Han Sans;
  font-weight: 100;
  src: url("/fonts/Spoqa Han Sans Thin.woff2"),
    url("/fonts/Spoqa Han Sans Thin.woff"),
    url("/fonts/Spoqa Han Sans Thin.ttf");
}
/* E of Spoqa Han Sans */
