.text__name {
  letter-spacing: 4px;
}

.text__share {
  color: #757575;
}

.align__center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
}

.button__neumorphism {
  font-family: "Spoqa Han Sans", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  color: var(--white);
  padding: 16px 32px;
  background-color: transparent;
  border: solid 2px var(--white);
}
