.scrollDownWrap {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}

/* .scrollDownBorder {
  border: 1px solid var(--white);
  width: 24px;
  height: 36px;
  transform: translateX(-25%);
} */

.scrollDown {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--white);
}
