.image__banner {
  width: auto;
  height: 100vh;

  pointer-events: none;
  /* user-drag: none; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
